# =====================================================
# DJANGO CORE
# =====================================================
Django==5.2.10
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3

# =====================================================
# DATABASE (PostgreSQL driver)
# =====================================================
psycopg2-binary==2.9.9

# =====================================================
# ADMIN UI
# =====================================================
django-jazzmin==3.0.3

# =====================================================
# CKEDITOR + IMAGE PROCESSING
# =====================================================
django-ckeditor==6.7.1
django-resized==1.0.2
Pillow==10.4.0

# =====================================================
# ENVIRONMENT VARIABLES
# =====================================================
python-dotenv==1.0.1

# =====================================================
# CELERY + REDIS
# =====================================================
celery==5.6.2
redis==7.2.1
amqp==5.3.1
billiard==4.2.4
kombu==5.6.2
vine==5.1.0
python-dateutil==2.9.0.post0

# =====================================================
# UTILITIES
# =====================================================
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
prompt_toolkit==3.0.52
wcwidth==0.6.0
colorama==0.4.6
six==1.17.0
packaging==26.0
tzlocal==5.3.1
django-cors-headers==4.4.0