Django==6.0.2
djangorestframework==3.16.1
django-filter==25.2
django-cors-headers==4.9.0
drf-spectacular==0.29.0
PyYAML==6.0.2
Pillow==12.1.0
django-ckeditor==6.7.1
python-dotenv==1.1.0
django-resized==1.0.3
psycopg2-binary==2.9.9
django-jazzmin==3.0.0
django-admin-sortable2==2.2.4
